client/src/styles/less/header.less linguist-generated=true
client/src/styles/less/petclinic.less linguist-generated=true
client/src/styles/less/responsive.less linguist-generated=true
client/src/styles/less/typography.less linguist-generated=true
src/main/java/org/springframework/samples/petclinic/web/api/petclinic.less linguist-generated=true
